@inject ICommentInterface commentService
<div>
    @foreach(var comment in comments){
        <div>
            <p>@comment.email</p>
            <p>@comment.body</p>
            <p>@comment.name</p>
        </div>
    }
</div>

@code{
    private List<Comment> comments = new List<Comment>();

    protected override async Task OnInitializedAsync (){
        comments =await commentService.GetCommentsAsync(); 
    }
}