
<div class="card ">
  @if(books!=null){
          <div class="col-6 mt-15">
            <h3>Title: @books.Title</h3>
            <p>Description: @books.description</p>
            <p><strong>Authors:</strong> @string.Join(", ", books.Authors)</p>

            <button @onclick="Edit" class="mt-4  btn btn-primary">Edit</button>
            <button @onclick="DeleteBook" class="mt-4  btn btn-danger">Delete</button>
        </div>
  }
</div>


@code{
    [Parameter,EditorRequired]
    public Book books {get; set;}


    public void Edit(){

    }
    [Parameter]
    public EventCallback<Guid> DeleteId { get; set; }

    public async Task DeleteBook()
    {
        await DeleteId.InvokeAsync(books.BookId);
    }
}