/* /Pages/Home.razor.rz.scp.css */
.profile[b-iyv6x75s20]{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-image: url(https://images.pexels.com/photos/18218828/pexels-photo-18218828/free-photo-of-man-in-a-cute-helmet-on-a-motorbike.png?auto=compress&cs=tinysrgb&w=600);
    background-size: cover;
}
.avater1[b-iyv6x75s20]{
    display: flex;
    gap: 20px;
    align-items: center;
    color: blue;
}
.comments[b-iyv6x75s20]{
    margin:auto 10%;
    background: rgb(34, 34, 34);
    color: white;
    width: 75%;
}
.comment[b-iyv6x75s20]{
    border-bottom: 1px solid azure;
    margin-left: 5%;
    
}
.posts[b-iyv6x75s20]{
    border: 1px solid black;
    border-radius:4px ;
    background: black;
    color: white;
    margin: auto 15%;

}
.post[b-iyv6x75s20]{
    margin: 2% 5%;
    border: 1px solid black;
    border-radius: 3px;
}
/* /Shared/MainLayout.razor.rz.scp.css */
/* .page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row ::deep a, .top-row ::deep .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row ::deep a:hover, .top-row ::deep .btn-link:hover {
        text-decoration: underline;
    }

    .top-row ::deep a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row ::deep a, .top-row ::deep .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth ::deep a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
} */
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-z0jh6n752s] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-z0jh6n752s] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-z0jh6n752s] {
    font-size: 1.1rem;
}

.oi[b-z0jh6n752s] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-z0jh6n752s] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-z0jh6n752s] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-z0jh6n752s] {
        padding-bottom: 1rem;
    }

    .nav-item[b-z0jh6n752s]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-z0jh6n752s]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-z0jh6n752s]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-z0jh6n752s] {
        display: none;
    }

    .collapse[b-z0jh6n752s] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-z0jh6n752s] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
