@inject NavigationManager navigation
<div class="search1">
    <h2 class="">Search for a car: </h2>
    <input type="text" @bind="searchterm" @bind:event="oninput" @onkeydown="SearchForCar" style="width: 30%;" class="col-4">
</div>

@code{
    public string searchterm= "";

    private void SearchForCar(KeyboardEventArgs args){
        if (args.Key != "Enter") return;
        navigation.NavigateTo($"/search/{searchterm}");
    }
}